:root{
    /*Colors*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black1:#201E1C;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --shadow-grey:#808080;
    --off-white: #faf8f7;
    --just-white: #fff;
    /*font-sizes*/
    --sm:1.2rem;
    --smm:1.4rem;
    --mm:1.6rem;
    --mmm:1.8rem;
    --hm:2.4rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;  
}

/*HEADER*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    width: 100%;
    height: 33.4rem;
    min-width: 320px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    align-self: center;
    width: 151px;
    height: 24px;
    margin: 60px 0 36px 0;
}
.header__title{
    align-self: center;
    width: 90%;
    min-width: 228px; 
    max-width: 900px; 
    height: 218px;
    text-align: center;

}
.header__title h1{
    font-size: var(--hm);
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title p{
    margin-top: 25px;
    font-size: var(--smm);
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title .header__button{
    position: absolute;
    top: calc(100% - 2.4rem);
    left: calc(50% - 11.45rem);
    width: 22.9rem;
    height: 4.8rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: var(--smm);
    font-weight: bold;
    background-color: var(--off-white);
    color: var(--black);
    text-decoration: none;
}
/*Button's icon*/
.header__button span{
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1.3rem;
    background-image: url('../assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
}

/*MAIN*/
main{
    
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--just-white);

}
/*Exchange section(Firts section of main)*/
.exchange-container{
    
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--off-white);
}
.exchange-container__background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('../assets/imgs/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.exchange-container__title{
    
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.exchange-container .exchange-container__title h2{
    margin-bottom: 30px;
    font-size: var(--hm);
    font-weight: bold;
    line-height: 2.6rem;
    color:var(--black);
}
.exchange-container .exchange-container__title p{
    margin-bottom: 30px;
    font-size: var(--smm);
    font-weight: 500;
    line-height: 1.6rem;
    color:#757575;
}
/*Exchain section - tables container*/
.main-table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    padding: 0 1.6rem;
    width: 100%;
    min-width: 320px;
   
}
/*Exchain section currently table*/

.currently-table .currently-table__title{
    text-align: start;
    margin-bottom: 12px;
    margin-left: 30px;
    font-size: var(--mmm);
    font-weight: 700;
    line-height: 2.3rem;

    color: var(--bitcoin-orange);
}
.currently-table__container{
    width: 90%;
    margin: 0 auto;
    min-width: 230px;
    max-width: 350px;
    height: 15.6rem;
    font-family: 'Inter', sans-serif;
}
.currently-table__container table{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    
}
.currently-table__container table td{
    width: 50%;
    font-size: var(--mm);
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currently-table__container table td:last-of-type{
    font-size: var(--smm);
    font-weight: 400;
    line-height: 1.7rem;
    color: #757575;
}
.currently-table__container table span{
    display: inline-block;
    position: relative;
    top:3px;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.currently-table__container table td .up-arrow{
    background-image: url(../assets/icons/trending-up.svg);
} 
.currently-table__container table td .down-arrow{
    background-image: url(../assets/icons/trending-down.svg);
} 

.currently-table-container__update{
    width: 18rem;
    height: 3.1rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0.8rem;
    border-radius: 8px;
    background-color: var(--soft-orange);
}
.currently-table-container__update p{
    font-size: var(--sm);
    font-weight: 300;
    color: var(--warm-black);
}
/*Exchain section next table*/

.next-table .next-table__title{
    text-align: start;
    margin-left: 30px;
    margin-bottom: 12px;
    font-size: var(--mmm);
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}
.next-table__container{
    width: 90%;
    margin: 0 auto;
    min-width: 230px;
    max-width: 350px;
    height: 15.6rem;
    font-family: 'Inter', sans-serif;
}
.table{
    display: grid;
    grid-template-columns: 11.2rem 11.2rem;
    grid-auto-rows: 3.7rem;
    gap: 0.2rem;
   
    border-radius: 10px;
    overflow: hidden;
}  
.table .table__item{
    display: flex;
    background-color: var(--just-white); 
    justify-content: center;
    align-items: center;
    
}
.table .table__item:nth-child(odd) p{
    font-size: var(--mm);
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
}
.table .table__item:nth-child(even) p{
    font-size: var(--smm);
    font-weight: 400;
    line-height: 1.7rem;
    color: #757575;
}
.next-table-container__update{
    width: 18rem;
    height: 3.1rem;
    margin: 0 auto;
    margin-top: 1.7rem;
    padding: 0.8rem;
    border-radius: 8px;
    background-color: var(--soft-blue);
}
.next-table-container__update p{
    font-size: var(--sm);
    font-weight: 300;
    color: var(--warm-black);
    
}

/*Main - product details(second section of main)*/

.product-detail{
    position:relative;
    width: 100%;
    height: auto;
    min-width: 320px;
    padding: 6.4rem 1.6rem 4.7rem 1.6rem;
    background-color: var(--warm-black1);
}
.produc-detail__batatabit-logo{
    position: absolute;
    top: -10px;
    left: calc(50% - 19px);
    width: 38px;
    height: 25px;
    background-image: url(../assets/icons/batata.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.product-detail__title{
    width: 100%;
    min-width: 288px;
    height: auto;
    margin-bottom: 2.6rem;
    text-align: center;
}
.product-detail__title h2{
    font-size: var(--hm);
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
    color: var(--just-white);
}
.product-detail__title p{
    font-weight: 500;
    font-size: var(--smm);
    line-height: 1.8rem;
    color: #808080;
}

.product-detail__article-card{
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    margin: 1.6rem auto;
    padding: 2rem 1.6rem;
    min-height: 15.2rem;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    background-color: var(--warm-black);
}
/*General styles for icons*/
.product-detail__article-card .icon-cart{
    display: inline-block;
    width: 2rem;
    height: 1.8rem;
    margin-bottom: 1.2rem;
}
.product-detail__article-card .clock{
    background: url('../assets/icons/clock.svg') no-repeat center/cover;
}
.product-detail__article-card .eyes{
    background: url('../assets/icons/eye.svg') no-repeat center/cover;
}
.product-detail__article-card .dollar{
    background: url('../assets/icons/dollar-sign.svg') no-repeat center/cover;
}
.product-detail__article-card .check{
    background: url('../assets/icons/check-circle.svg') no-repeat center/cover;
}
/*Card's contain*/
.product-detail__article-card p:nth-child(2){
    font-weight: 700;
    font-size: var(--mmm);
    line-height: 1.8rem;
    margin-bottom: 1rem;
    color: var(--just-white);
}
.product-detail__article-card p:nth-child(3){
    font-weight: 500;
    font-size: var(--smm);
    line-height: 1.8rem;
    color: var(--shadow-grey);
}

/*wildcard(third section of main)*/
main .bitcoin-img{
    width: 100%;
    min-width: 320px;
    height: 60vh;
    text-align: center;
    background: url('../assets/imgs/bitcoinbaby2x.jpg') no-repeat center/cover;

}
main .bitcoin-img h2{
    padding-top: 5.5rem;
    font-weight: 700;
    font-size: var(--hm);
    line-height: 2.6rem;
    color: var(--just-white);
}

/* Plans(Fourth section)*/
.plans-container{

    min-width: 320px;
    padding-bottom: 2rem;
    text-align: center;
    background: #E5E5E5;
}
.plans-container__title{
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
    padding: 6rem 0 5rem 0;
}
.plans-container__title h2{
    margin-bottom: 2.4rem;
    font-weight: 700;
    font-size: var(--hm);
    line-height: 2.6rem;
    color: var(--warm-black);
}
.plans-container__title p{
    font-weight: 500;
    font-size: var(--smm);
    line-height: 1.8rem;
    color: #757575;
}
/*card-container*/
.plans-container__section{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 29rem;
    padding: 0 1rem;  
}
.plans-container__section--slider{
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: proximity;
}  
.plans-container__section--slider::-webkit-scrollbar{
    background-color: var(--soft-orange);/*barra de fondo*/
    height: 3px;
}  
.plans-container__section--slider::-webkit-scrollbar-thumb{
    background-color: var(--bitcoin-orange);/*barra de posición*/
}  

/*articles*/
.plans-container__article{
    position:relative;
    scroll-snap-align: x center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 25rem;
    margin: 0 auto 0;
    padding: 2rem 0;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    background-color: var(--just-white);
}
.plans-container__recomend{
    position: absolute;
    top:-15px;
    left: calc(50% - 50px);
    width: 10rem;
    height: 3rem;
    padding:0.7rem;
    border-radius: 8px;
    font-weight: 700;
    font-size: var(--sm);
    line-height: 1.5rem;
    color:var(--just-white);
    background-color: var(--bitcoin-orange);
}
.plans-container__article .plans-info h3{
    padding-top: 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.plans-container__article .plans-info p:nth-child(2){
    
    padding-top: 5px 0;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 5.3rem;
    color: var(--black);
}
.plans-container__article .plans-info p:nth-child(2) span{
    vertical-align: 25px;
    font-size: var(--sm);
    font-weight: 300;
    color: var(--black);
}
.plans-container__article .plans-info p:nth-child(3){
    margin-top: 1.6rem;
    padding: 0 1.6rem;
    font-size: var(--sm);
    font-weight: 500;
    color: #757575;
    line-height: 1.5rem;
}
.plans-container__article .plans-info button{
    width:80%;
    max-width: 200px;
    height: 4.8rem;
    margin-top: 1.6rem;
    border: 2px solid var(--bitcoin-orange);
    font-size: var(--smm);
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.8rem;
    background: #FAF8F7;
    color: var(--warm-black);
}
.plans-container__article .plans-info button span{
    display: inline-block;
    margin-left: 1rem;
    width:2rem;
    height: 2rem;
    vertical-align: -5.5px;
    background: url('../assets/icons/orange-right-arrow.svg') no-repeat center/cover;
}
/*FOOTER*/
footer{
    display: flex;
    min-width: 320px;
    height: 15rem;
    background: var(--bitcoin-orange);
    justify-content: center;
    align-items: center;

}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.left-side ul{
    font-weight: 500;
    font-size: var(--smm);
    line-height: 1.8rem;
    list-style: none;
}
.left-side ul li{
    margin-top: 0.8rem;
}
.left-side ul li a{
    text-decoration: none;
    color: var(--just-white);
}
.right-side p{
    margin-top: 0.8rem;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.8rem;
    color: var(--soft-orange); 
}
   
    
   


    
    





  

        

   
    

  
    
    


    


    
   
